{% extends "AppSitio/home.html" %}


{% block principal %}

<h1 class="display-5 fw-bolder text-white mb-2">Admin</h1>
<br>
<p class="lead text-white-50 mb-4">Seleccione una opción para continuar</p>
<br>
<br>
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
<a class="btn btn-outline-light btn-lg px-4 mx-3" href="{% url 'clientes' %}">Clientes</a>
<a class="btn btn-outline-light btn-lg px-4 mx-3" href="{% url 'tecnicos' %}">Técnicos</a>
<a class="btn btn-outline-light btn-lg px-4 mx-3" href="{% url 'trabajos' %}">Trabajos</a>
<a class="btn btn-outline-light btn-lg px-4 mx-3" href="{% url 'publicacion' %}">Compra/Venta</a>
</div>

{% endblock principal %}