{% extends "AppSitio/home.html" %}


{% block principal %}

<h1 class="display-5 fw-bolder text-white mb-2">Técnico nuevo</h1>
<br>
<p class="lead text-white-50 mb-4">Complete los campos para agregar un técnico nuevo</p>
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center"></div>

{% endblock principal %}




{% block agregar %}

<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
    <form action="" method="post">
        {% csrf_token %}

        <table class="text-white">
            {{ form.as_table }}
        </table>
        <br>
        <br>
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <input type="submit" class="btn btn-primary btn-md px-4 me-sm-3" value="Confirmar">
            <a class="btn btn-outline-light btn-md px-4 mx-3" href="{% url 'tecnicos' %}">Volver</a>
        </div>
    </form>
</div>

{% endblock agregar %}